{% extends "base.html" %}

{% block title %} Crear Nuevo Asesor {% endblock %}

{% block content %}

<!-- Form Start -->
<div class="container-fluid pt-4 px-4">
    <h3>Crear Nuevo Asesor</h3>
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Agregar Nuevo Registro</h6>
                <form action="/save_advisor" method="POST">

                    {% with messages = get_flashed_messages() %}
                        {% for message in messages %}
                        <div class="alert alert-primary alert-dismissible position-relative" role="alert" id="myAlert">
                            <strong>{{ message }}</strong>
                            <div class="progress-container">
                                <div class="progress-bar" role="progressbar" id="myProgressBar"></div>
                            </div>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                    {% endwith %}

                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingAdvisor_code" name="advisor_code" placeholder="advisor_code" required>
                        <label for="floatingAdvisor_code">Código de Asesor</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingFirstname" name="firstname" placeholder="firstname" required>
                        <label for="floatingFirstname">Nombres</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingLastname" name="lastname" placeholder="lastname" required>
                        <label for="floatingLastname">Apellidos</label>
                    </div> 
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInstitution" name="institution" placeholder="institution" required>
                        <label for="floatingInstitution">Institución</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingPhone" name="phone" placeholder="phone" required>
                        <label for="floatingPhone">Teléfono</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingAddress" name="address" placeholder="address">
                        <label for="floatingPhone">Dirección (opcional)</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingEmail" name="email" placeholder="email" required>
                        <label for="floatingEmail">Correo</label>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <a class="btn btn-warning" href="{{ url_for('advisor.advisor') }}" role="button"><i
                                class="fa fa-arrow-left"></i> Volver</a>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-save"></i> Guardar
                        </button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>
<!-- Form End -->

{% endblock %}