{% extends "layout.html" %}

{% block title %} PERFIL {% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="row">
            <div class="col-md-8 col-xl-8 mb-4 mb-xl-0">
                <div class="mb-4 h-100 p-4">
                    <h4>EDITAR PERFIL</h4><br>

                    <form action="{{ url_for('user.edit_user', id=current_user.person_id)}}" method="post"
                        enctype="multipart/form-data">

                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}


                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                        {% if current_user.role == "Autor" %}
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="floatingCode">Código</label>
                                <input type="text" class="form-control" id="floatingCode"
                                    value="{{ user.student_code }}" name="student_code" placeholder="student_code">
                            </div>
                        </div>
                        {% elif current_user.role == "Asesor" %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="floatingCode">Codigo</label>
                                    <input type="text" class="form-control" id="floatingCode"
                                        value="{{ user.advisor_code }}" name="advisor_code" placeholder="advisor_code">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="floatingInstitution"
                                        value="{{ user.institution }}" name="institution" placeholder="institution">
                                    <label for="floatingInstitution">Institucion</label>
                                </div>
                            </div>
                        </div>
                        {% elif current_user.role == "Revisor" %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="floatingCode">Codigo</label>
                                    <input type="text" class="form-control" id="floatingCode"
                                        value="{{ user.reviewer_code }}" name="reviewer_code"
                                        placeholder="reviewer_code">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="floatingGrade">Grado</label>
                                    <input type="text" class="form-control" id="floatingGrade" value="{{ user.grade }}"
                                        name="grade" placeholder="grade">
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="floatingFirstname">Nombres</label>
                                    <input type="text" class="form-control" id="floatingFirstname"
                                        value="{{ user.firstname }}" name="firstname" placeholder="firstname">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="floatingLastname">Apellidos</label>
                                    <input type="text" class="form-control" id="floatingLastname"
                                        value="{{ user.lastname }}" name="lastname" placeholder="lastname">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="floatingDni">DNI</label>
                                    <input type="text" class="form-control" id="floatingDni" value="{{ user.dni }}"
                                        name="dni" placeholder="dni">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="floatingPhone">Teléfono</label>
                                    <input type="text" class="form-control" id="floatingPhone" value="{{ user.phone }}"
                                        name="phone" placeholder="phone">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="floatingPhone">Dirección (opcional)</label>
                                    <input type="text" class="form-control" id="floatingAddress"
                                        value="{{ user.address }}" name="address" placeholder="address">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="floatingUsername">Usuario</label>
                                    <input type="text" class="form-control" id="floatingUsername"
                                        value="{{ user.username }}" name="username" placeholder="username">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="floatingEmail">Correo</label>
                                    <input type="email" class="form-control" id="floatingEmail" value="{{ user.email }}"
                                        name="email" placeholder="email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="floatingPassword">Contraseña</label>
                                    <input type="password" class="form-control" id="floatingPassword" name="password"
                                        placeholder="password">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="floatingVerify_Password">Verificar Contraseña</label>
                                    <input type="password" class="form-control" id="floatingVerify_Password"
                                        name="verify_password" placeholder="password">
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="mb-3 d-flex align-items-center">
                            <label for="formFile" class="form-label mr-2">Editar foto de perfil (opcional)</label>
                            <div class="custom-file" style="width: 40%;">
                                <input type="file" class="custom-file-input" id="formFile" name="image"
                                    accept=".jpg, .jpeg, .png, .gif" onchange="updateInputFileLabel()">
                                <label class="custom-file-label" for="formFile">Escoja un archivo</label>
                            </div>
                        </div>

                        <br>


                        <div class="col-md-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <button type="submit" class="btn btn-success">
                                    <i class="fa fa-save"></i> Guardar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-8 col-xl-4">

                <div class="rounded h-100 p-4 d-flex flex-column">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="mb-0 text-left">FOTO</h4>
                        {% if current_user.image is not none %}
                        <a class="btn btn-danger btn-sm align-self-start"
                            href="{{ url_for('user.remove_image_user', id=current_user.person_id)}}"><i
                                class="fa fa-trash"></i> Quitar Imagen</a>
                        {% endif %}
                    </div><br>
                    <div class="d-flex justify-content-center align-items-center flex-grow-1">
                        {% if image_data %}
                        <img src="data:image/jpeg;base64, {{ image_data }}" alt="User Image" class="img-fluid"
                            style="max-width: 90%; width: auto; height: auto;">
                        {% else %}
                        <p>No hay imagen disponible.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customJS %}
<script>
    function updateInputFileLabel() {
        var input = document.getElementById('formFile');
        var label = input.nextElementSibling;
        var fileName = input.files[0].name;
        label.innerHTML = fileName;
    }
</script>
{% endblock %}