{% extends "layout.html" %}

{% block title %} Editar Rol {% endblock %}

{% block customCSS %}
<style>
    /* CSS for image container */
    .img-container {
        text-align: center;
        /* Center the image horizontally */
        margin-top: 20px;
        /* Add margin for spacing */
    }

    /* CSS for the image */
    .img-fluid {
        max-width: 100%;
        /* Make the image responsive within its container */
        height: auto;
    }
</style>
{% endblock %}

{% block content %}

<!-- Form Start -->
<div class="container-fluid pt-4 px-4">
    <h3>Editar Rol</h3>
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Editar Registro</h6>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <form action="{{ url_for('role.update_role', id=role.role_id) }}" method="POST">

                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingRole" value="{{ role.role }}"
                            name="role" placeholder="role" required>
                        <label for="floatingRole">Role</label>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <a class="btn btn-warning" href="{{ url_for('role.role') }}" role="button"><i
                                class="fa fa-arrow-left"></i> Volver</a>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-save"></i> Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Form End -->

{% endblock %}