{% extends "layout.html" %}

{% block title %} Registrar Proyecto de Tesis {% endblock %}

{% block customCSS %}
<script>
    function checkValue(input) {
        // Remove leading zeros and ensure it's a valid number
        let value = parseInt(input.value, 10);

        // Check if the value is NaN (non-numeric)
        if (isNaN(value)) {
            input.value = 0;
        } else {
            // Ensure the value is within the range
            if (value < 0) {
                input.value = 0;
            } else if (value > 20) {
                input.value = 20;
            }
        }
    }
</script>

<style>
    body {
        background: #f7f6f3;
        font-family: sans-serif;
    }

    .date-picker {
        margin: 200px auto;
    }

    .date-picker {
        width: 260px;
        height: auto;
        max-height: 50px;
        background: #e2e2e2;
        position: relative;
        overflow: hidden;
        transition: all 0.3s 0s ease-in-out;
    }

    .date-picker .input {
        width: 100%;
        height: 50px;
        font-size: 0;
        cursor: pointer;
    }

    .date-picker .input .result,
    .date-picker .input button {
        display: inline-block;
        vertical-align: top;
    }

    .date-picker .input .result {
        width: calc(100% - 50px);
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        padding: 0 10px;
        color: grey;
        box-sizing: border-box;
    }

    .date-picker .input button {
        width: 50px;
        height: 50px;
        background-color: #000;
        color: white;
        line-height: 50px;
        border: 0;
        font-size: 18px;
        padding: 0;
    }

    .date-picker .input button:hover {
        background-color: grey;
    }

    .date-picker .input button:focus {
        outline: 0;
    }

    .date-picker .calendar {
        position: relative;
        width: 100%;
        background: #fff;
        border-radius: 0px;
        overflow: hidden;
    }

    .date-picker .ui-datepicker-inline {
        position: relative;
        width: 100%;
    }

    .date-picker .ui-datepicker-header {
        height: 100%;
        line-height: 50px;
        background: grey;
        color: #fff;
        margin-bottom: 10px;
    }

    .date-picker .ui-datepicker-prev,
    .date-picker .ui-datepicker-next {
        width: 20px;
        height: 20px;
        text-indent: 9999px;
        border: 2px solid #fff;
        border-radius: 100%;
        cursor: pointer;
        overflow: hidden;
        margin-top: 12px;
    }

    .date-picker .ui-datepicker-prev {
        float: left;
        margin-left: 12px;
    }

    .date-picker .ui-datepicker-prev:after {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        margin: -43px 0px 0px 8px;
    }

    .date-picker .ui-datepicker-next {
        float: right;
        margin-right: 12px;
    }

    .date-picker .ui-datepicker-next:after {
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
        margin: -43px 0px 0px 6px;
    }

    .date-picker .ui-datepicker-prev:after,
    .date-picker .ui-datepicker-next:after {
        content: "";
        position: absolute;
        display: block;
        width: 4px;
        height: 4px;
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
    }

    .date-picker .ui-datepicker-prev:hover,
    .date-picker .ui-datepicker-next:hover,
    .date-picker .ui-datepicker-prev:hover:after,
    .date-picker .ui-datepicker-next:hover:after {
        border-color: #68768A;
    }

    .date-picker .ui-datepicker-title {
        text-align: center;
    }

    .date-picker .ui-datepicker-calendar {
        width: 100%;
        text-align: center;
    }

    .date-picker .ui-datepicker-calendar thead tr th span {
        display: block;
        width: 100%;
        color: #8392A7;
        margin-bottom: 5px;
        font-size: 13px;
    }

    .date-picker .ui-state-default {
        display: block;
        text-decoration: none;
        color: #b5b5b5;
        line-height: 40px;
        font-size: 12px;
    }

    .date-picker .ui-state-default:hover {
        background: rgba(0, 0, 0, 0.02);
    }

    .date-picker .ui-state-highlight {
        color: #68768A;
    }

    .date-picker .ui-state-active {
        color: #000;
        background-color: rgba(131, 146, 167, 0.12);
        font-weight: 600;
    }

    .date-picker .ui-datepicker-unselectable .ui-state-default {
        color: #eee;
        border: 2px solid transparent;
    }

    .date-picker.open {
        max-height: 400px;
    }

    .date-picker.open .input button {
        background: #000;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Registrar Proyecto de Tesis</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex align-items-center justify-content-between mb-4">
            <h6 class="m-0 font-weight-bold text-primary">Ingrese los Datos del Proyecto Tesis</h6>
        </div>

        {% with messages = get_flashed_messages() %}
        {% for message in messages %}
        <div class="alert alert-primary alert-dismissible position-relative" role="alert" id="myAlert">
            <strong>{{ message }}</strong>
            <div class="progress-container">
                <div class="progress-bar" role="progress-bar" id="myProgressBar"></div>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endwith %}

        <div class="card-body">
            <form action="/save_thesis" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                <div class="form-group">
                    <label for="floatingTitle">Título</label>
                    <input type="text" class="form-control" id="floatingTitle" name="title" placeholder="Título">
                </div>

                <div class="form-group">
                    <label for="floatingTitle">Abstract</label>
                    <textarea class="form-control" style="height: 150px;" id="floatingTitle" name="abstract"
                        placeholder="Abstract"></textarea>
                </div>

                <div class="mb-3">
                    <label for="pdf_file" class="form-label">Subir Archivo</label>
                    <input class="form-control" style="width: 40%;" type="file" id="pdf_file" name="pdf_file"
                        accept=".pdf">
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label for="pdf_turnitin" class="form-label">Subir Reporte de Turnitín</label>
                            <input class="form-control" type="file" id="pdf_turnitin" name="pdf_turnitin"accept=".pdf">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="mb-3">
                            <label for="turnitin_porcentaje" class="form-label">% de Turnitín (máx 20)</label>
                            <input class="form-control" type="number" name="turnitin_porcentaje" id="turnitin_porcentaje" min="0" max="20" oninput="checkValue(this)">
                        </div>
                    </div>
                </div>

                <label for="project_creation_date">Fecha de Creación de Proyecto</label><br>
                <div class="form-group">
                    <input type="date" id="project_creation_date" value="{{ current_date }}"
                        name="project_creation_date"></input>
                </div>
                <br>

                <div class="d-flex justify-content-between align-items-center">
                    <a class="btn btn-warning" href="{{ url_for('thesis.myThesis') }}" role="button"><i
                            class="fa fa-arrow-left"></i> Volver</a>
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-save"></i> Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}


<!-- Your HTML and other code -->

{% block CustomJS %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Get today's date
        const today = new Date();

        // Format the date to YYYY-MM-DD (required format for input type=date)
        const year = today.getFullYear();
        const month = String(today.getMonth() + 1).padStart(2, '0'); // Months are zero-based
        const day = String(today.getDate()).padStart(2, '0');

        // Set the input value to today's date
        document.getElementById('project_creation_date').value = `${year}-${month}-${day}`;
    });
</script>

{% endblock %}

<!-- Your remaining HTML and other code -->


