{% extends "layout.html" %}

{% block title %} Ver Tesis {% endblock %}

{% block customCSS %}
<!-- Cuustom CSS for the page -->
<style>
    .custom-sm-button {
        padding: 0.2rem 0.4rem;
        /* Adjust the padding to control button size */
        font-size: 0.875rem;
        /* Adjust the font size as needed */
    }
</style>
{% endblock %}

{% block content %}

<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    {% if thesis.project_id == 0 %}
    <h3>Ver Proyecto de Tesis</h3>
    {% else %}
    <h3>Ver Sustentación de Tesis</h3>
    {% endif %}
    <div class="bg-secondary rounded p-4">
        <div class="row">
            <div class="col-md-6">
                {% if thesis.project_id == 0 %}
                <h4>Detalles del Proyecto de Tesis</h4>
                {% else %}
                <h4>Detalles del Sustentación de Tesis</h4>
                {% endif %}
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <p class="card-text">Título: {{ thesis.title }}</p>
                        <p class="card-text">Estado:
                            {% if thesis.thesis_status_id == 1 %}
                            <span class="badge bg-warning">EN PROCESO</span>
                            {% elif thesis.thesis_status_id == 2 %}
                            <span class="badge bg-success">APROBADO</span>
                            {% elif thesis.thesis_status_id == 3 %}
                            <span class="badge bg-primary">RECHAZADO</span>
                            {% elif thesis.thesis_status_id == 4 %}
                            <span class="badge bg-primary">EN REVISION</span>
                            {% endif %}
                        </p>
                        <p class="card-text">Autor: {{ thesis.firstname }} {{ thesis.lastname }}</p>
                        <p class="card-text">Año de Inicio:
                            <span id="submissionDate"> {{ thesis.submission_date }}</span>
                            <span id="submission_daysOld"></span>
                        </p>
                        <p class="card-text">Ultima actualización:
                            <span id="last_updateDate"> {{ thesis.last_update_date }}</span>
                            <span id="last_update_daysOld"></span>
                        </p>
                        <p class="card-text">Abstract: {{ thesis.abstract }}</p>
                        <a href="{{ url_for('download_file', filename='file/thesis/' + thesis.pdf_link) }}"
                            class="btn btn-primary" download><i class="fa fa-download"></i> Descargar Archivo</a>
                        {% if thesis.turnitin_link is not none %}
                        <a href="{{ url_for('download_file', filename='file/turnitin/' + thesis.turnitin_link) }}"
                            class="btn btn-danger" download><i class="fa fa-download"></i> Descargar Reporte
                            Turnitín</a>
                        {% endif %}
                        {% if thesis.article_link is not none %}
                        <a href="{{ url_for('download_file', filename='file/article/' + thesis.article_link) }}"
                            class="btn btn-success" download><i class="fa fa-download"></i> Descargar Artículo de
                            Revisión</a>
                        {% endif %}
                    </div>
                </div><br>

                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <h4 style="display: inline; margin-right: 10px;">Calificación Final: </h4>
                        {% if thesis.rating is none %}
                        <h5 style="display: inline;">Por Calificar...</h5>
                        {% else %}
                        <h5 style="display: inline;">{{ thesis.rating }}</h5>
                        {% endif %}
                    </div>
                </div><br>
                <h4>Observación de los Revisores</h4>
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        {% if review_details %}
                        {% for item in review_details %}
                        <div class="d-flex align-items-center border-bottom py-3">
                            {% if item.image == None %}
                            <img class="rounded-circle" src="{{ url_for('static', filename='img/user.jpg') }}" alt=""
                                style="width: 40px; height: 40px;">
                            {% else %}
                            <img class="rounded-circle flex-shrink-0"
                                src="data:image/png;base64,{{ item.image|b64encode }}" alt=""
                                style="width: 40px; height: 40px;">
                            {% endif %}
                            <div class="w-100 ms-3">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-0">{{ item.firstname }} {{ item.lastname }} | Nota: {{ item.rating }}</h6>
                                    <small class="review-date">{{ item.review_date }} <span
                                            class="review_daysOld_{{ loop.index }}"></span></small>
                                </div>
                                <div class="d-flex w-100 justify-content-between align-items-center">
                                    <span>{{ item.comment }}</span>
                                </div>
                            </div>
                        </div>
                        <script>
                            // Get the review date from the template and convert it to a Date object
                            var reviewDate = new Date("{{ item.review_date | safe }}");
                            var today = new Date();
                            // Calculate the difference in milliseconds
                            var differenceInTime = today - reviewDate;
                            // Calculate days difference
                            var differenceInDays = Math.floor(differenceInTime / (1000 * 3600 * 24));
                            // Display the number of days
                            document.querySelector(".review_daysOld_{{ loop.index }}").innerText = "(hace " + differenceInDays + " días)";
                        </script>
                        {% endfor %}
                        {% else %}
                        <p>No hay resultados encontrados.</p>
                        {% endif %}
                    </div>
                </div>



            </div>
            <br>
            <div class="col-md-6">
                <h4>Ver Archivo</h4>
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <object data="{{ url_for('static', filename='file/thesis/' + thesis.pdf_link) }}"
                            type="application/pdf" width="100%" height="500px">
                            <p>Unable to display PDF file.
                                <a
                                    href="{{ url_for('download_file', filename='file/thesis/' + thesis.pdf_link) }}">Download</a>
                                instead.
                            </p>
                        </object>
                    </div>
                </div>
                <br>
                {% if current_user.role != "Revisor" %}
                <h4>Recomendaciones del Asesor</h4>
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        {% if recommendations %}
                        {% for item in recommendations %}
                        <div class="d-flex align-items-center border-bottom py-3">
                            {% if item.image == None %}
                            <img class="rounded-circle" src="{{ url_for('static', filename='img/user.jpg') }}" alt=""
                                style="width: 40px; height: 40px;">
                            {% else %}
                            <img class="rounded-circle flex-shrink-0"
                                src="data:image/png;base64,{{ item.image|b64encode }}" alt=""
                                style="width: 40px; height: 40px;">
                            {% endif %}
                            <div class="w-100 ms-3">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-0">{{ item.firstname }} {{ item.lastname }}</h6>
                                    <small class="recommendation-date">{{ item.recommendation_date }} <span
                                            class="recommendation_daysOld_{{ loop.index }}"></span></small>
                                </div>
                                <div class="d-flex w-100 justify-content-between align-items-center">
                                    <span>{{ item.recommendation_text }}</span>

                                    {% if current_user.role == 'Asesor' %}
                                    <a class="btn btn-sm btn-danger"
                                        href="/desactivate_recommendation/{{ item.recommendation_id }}/{{ item.thesis_id }}"
                                        onclick="return confirmDelete();"><i class="fa fa-trash"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <script>
                            // Get the recommendation date from the template and convert it to a Date object
                            var recommendationDate = new Date("{{ item.recommendation_date | safe }}");
                            var today = new Date();
                            // Calculate the difference in milliseconds
                            var differenceInTime = today - recommendationDate;
                            // Calculate days difference
                            var differenceInDays = Math.floor(differenceInTime / (1000 * 3600 * 24));
                            // Display the number of days
                            document.querySelector(".recommendation_daysOld_{{ loop.index }}").innerText = "(hace " + differenceInDays + " días)";
                        </script>
                        {% endfor %}
                        {% else %}
                        <p>No hay resultados encontrados.</p>
                        {% endif %}
                    </div>
                </div>
                <br>
                {% endif %}
                {% if current_user.role == "Asesor" or current_user.role == "Admin" %}
                <form action="{{url_for('recommendation.save_recommendation', id=thesis.thesis_id)}}" method="POST">
                    <div class="form-floating mb-3">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <textarea class="form-control" style="height: 100px;" id="text" name="text"
                            placeholder="abstract"></textarea>
                        <label for="text">Ingresar Texto</label>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-save"></i> Guardar
                        </button>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customJS %}
<script>
    // Get the submission date from the template (assuming it's in YYYY-MM-DD format)
    var submissionDate = new Date("{{ thesis.submission_date }}");
    var last_updateDate = new Date("{{ thesis.last_update_date }}");
    // Calculate days difference
    var today = new Date();
    var differenceInTime = today.getTime() - submissionDate.getTime();
    var differenceInTime1 = today.getTime() - last_updateDate.getTime();
    var differenceInDays = Math.floor(differenceInTime / (1000 * 3600 * 24));
    var differenceInDays1 = Math.floor(differenceInTime1 / (1000 * 3600 * 24));
    // Display the number of days
    document.getElementById("submission_daysOld").innerText = "(hace " + differenceInDays + " días)";
    document.getElementById("last_update_daysOld").innerText = "(hace " + differenceInDays1 + " días)";
</script>

<script>
    // Get the submission date from the template (assuming it's in YYYY-MM-DD format)
    var submissionDateStr = "{{ thesis.submission_date }}";
    var last_updateDateStr = "{{ thesis.last_update_date }}";
    var months = [
        "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio",
        "Augosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
    ];
    var submissionDate = new Date(submissionDateStr);
    var Last_updateDate = new Date(last_updateDateStr);
    var formattedDate = submissionDate.getDate() + " de " + months[submissionDate.getMonth()] + " de " + submissionDate.getFullYear();
    var formattedDate1 = last_updateDate.getDate() + " de " + months[last_updateDate.getMonth()] + " de " + last_updateDate.getFullYear();
    document.getElementById("submissionDate").innerText = formattedDate;
    document.getElementById("last_updateDate").innerText = formattedDate1;
</script>
{% endblock %}