{% extends "layout.html" %}

{% block title %} Ver Tesis {% endblock %}

{% block customCSS %}
<!-- Cuustom CSS for the page -->

{% endblock %}

{% block content %}
<div class="container-fluid pt-4 px-4">
    <h3>Editar Tesis</h3>
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded p-4">
                    <h4>Detalles de la Tesis</h4>
                    <form action="{{ url_for('thesis.update_thesis', id=thesis.thesis_id) }}" method="POST" enctype="multipart/form-data">
                        {% with messages = get_flashed_messages() %}
                        {% for message in messages %}
                        <div class="alert alert-primary alert-dismissible position-relative" role="alert" id="myAlert">
                            <strong>{{ message }}</strong>
                            <div class="progress-container">
                                <div class="progress-bar" role="progress-bar" id="myProgressBar"></div>
                            </div>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                        {% endwith %}
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="title" value="{{ thesis.title }}" name="title"
                                placeholder="title">
                            <label for="title">Título</label>
                        </div>

                        <div class="form-floating mb-3">
                            <textarea class="form-control" style="height: 150px;" id="abstract" name="abstract"
                                placeholder="abstract">{{ thesis.abstract }}</textarea>
                            <label for="abstract">Abstract</label>
                        </div>

                        <input class="form-control" type="hidden" name="old_pdf_link" value="{{ thesis.pdf_link }}">

                        <div class="mb-3">
                            <label for="pdf_file" class="form-label">Subir Archivo Actualizado</label>
                            <input class="form-control bg-dark" style="width: 40%;" type="file" id="pdf_file"
                                name="pdf_file" accept=".pdf">
                        </div><br>

                        <div class="d-flex justify-content-between align-items-center">
                            <a class="btn btn-warning" href="{{ url_for('thesis.myThesis') }}" role="button"><i
                                    class="fa fa-arrow-left"></i> Volver</a>
                            <button type="submit" class="btn btn-success">
                                <i class="fa fa-save"></i> Guardar
                            </button>
                        </div>
                    </form>
             
            </div>
        </div>
    </div>
</div>
{% endblock %}