{% extends "layout.html" %}

{% block title %} Mis Tesis {% endblock %}

{% block CustomCSS %}

<style>
    /* CSS for separating button borders */
    .btn-container {
        display: flex;
        gap: 5px; /* Adjust this value to increase/decrease separation */
    }
</style>

{% endblock %}

{% block content %}
<div class="container-fluid pt-4 px-4">
    <h2>Mis Tesis</h2>
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h4 class="mb-0">Mantenedor de Tesis</h4>
            <a class="btn btn-sm btn-success" href="/create_thesis_form"><i class="fa fa-plus"></i> AGREGAR NUEVO
                PROYECTO DE TESIS</a>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <br />
        {% for message in messages %}
        <div class="custom-primary-button alert alert-primary alert-dismissible position-relative" role="alert"
            id="myAlert">
            <strong>{{ message }}</strong>
            <div class="progress-container">
                <div class="progress-bar" role="progressbar" id="myProgressBar"></div>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="table-responsive">
            <table class="table table-hover text-start align-middle table-hover mb-0">
                <thead>
                    <tr class="text-white">
                        <th scope="col">ID</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Fecha de Inicio del Proyecto</th>
                        <th scope="col">Fecha de Termino del Proyecto</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Nota</th>
                        <th class="text-center" scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% if thesis %}
                    {% for item in thesis %}
                    <tr>
                        <td>{{ item.thesis_id }}</td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.submission_date }}</td>
                        <td>{{ item.expiration_date }}</td>
                        <td class="align-middle">
                            {% if item.thesis_status_id == 1 %}
                            <span class="badge bg-warning">EN PROCESO</span>
                            {% elif item.thesis_status_id == 2 %}
                            <span class="badge bg-success">APROBADO</span>
                            {% elif item.thesis_status_id == 3 %}
                            <span class="badge bg-primary">RECHAZADO</span>
                            {% elif item.thesis_status_id == 4 %}
                            <span class="badge bg-primary">EN REVISION</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if item.rating is not none %}
                            {{ item.rating }}
                            {% else %}
                            <span class="badge bg-warning">SIN NOTA</span>
                            {% endif %}
                        </td>
                        <td class="text-center col-2">
                            <div class="btn-container">
                                {% if item.thesis_status_id != 1 %}
                                <a class="btn btn-sm btn-success" href="/view_thesis_page/{{ item.thesis_id }}">
                                    <i class="fa fa-graduation-cap"></i> Sustentación</a>
                                {% endif %}
                                <a class="btn btn-sm btn-primary" href="/view_thesis_page/{{ item.thesis_id }}">
                                    <i class="fa fa-eye"></i> Ver</a>
                                {% if item.thesis_status_id == 1 %}
                                <a class="btn btn-sm btn-warning" href="/edit_thesis_form/{{ item.thesis_id }}">
                                    <i class="fa fa-pen"></i> Editar</a>
                                <a class="btn btn-sm btn-danger" href="/desactivate_thesis/{{ item.thesis_id }}" onclick="return confirmDelete();">
                                    <i class="fa fa-trash"></i> Eliminar</a>
                                {% endif %}
                            </div>
                        </td>

                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td class="text-center" colspan="7">No hay resultados encontrados.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block customJS %}
<script>
    function confirmDelete() {
        return confirm('¿Seguro que quieres eliminar esta Tesis?');
    }
</script>
{% endblock %}