{% extends "base.html" %}

{% block customCSS %}
{% endblock %}

{% block title %} Crear Nuevo Autor {% endblock %}

{% block content %}
<!-- Form Start -->
<div class="container-fluid pt-4 px-4">
    <h3>Crear Nuevo Autor</h3>
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Ingrese los Datos del Nuevo Autor</h6>
                <form action="/save_autor" method="POST">

                    {% with messages = get_flashed_messages() %}
                    {% for message in messages %}
                    <div class="alert alert-primary alert-dismissible position-relative" role="alert" id="myAlert">
                        <strong>{{ message }}</strong>
                        <div class="progress-container">
                            <div class="progress-bar" role="progress-bar" id="myProgressBar"></div>
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                    {% endwith %}

                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingFirstname" name="firstname"
                                    placeholder="firstname">
                                <label for="floatingFirstname">Nombres</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingLastname" name="lastname"
                                    placeholder="lastname">
                                <label for="floatingLastname">Apellidos</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingStudent_code" name="student_code"
                                    placeholder="student_code">
                                <label for="floatingStudent_code">Codigo de Estudiante</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingDni" name="dni" placeholder="dni">
                                <label for="floatingDni">DNI</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingPhone" name="phone" placeholder="phone">
                                <label for="floatingPhone">Teléfono</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingAddress" name="address"
                                    placeholder="address">
                                <label for="floatingPhone">Dirección (opcional)</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingEmail" name="email" placeholder="email">
                        <label for="floatingEmail">Correo</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingUsername" name="username"
                            placeholder="username">
                        <label for="floatingUsername">Usuario</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="floatingPassword" name="password"
                            placeholder="password">
                        <label for="floatingPassword">Contraseña</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="floatingVerify_Password" name="verify_password"
                            placeholder="password">
                        <label for="floatingVerify_Password">Verificar Contraseña</label>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <a class="btn btn-warning" href="{{ url_for('author.autor') }}" role="button"><i
                                class="fa fa-arrow-left"></i> Volver</a>
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-save"></i> Guardar
                        </button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>
<!-- Form End -->
{% endblock %}

{% block customJS %}
{% endblock %}