{% extends "layout.html" %}

{% block title %} Editar Autor {% endblock %}

{% block customCSS %}
<style>
    /* CSS for image container */
    .img-container {
        text-align: center;
        /* Center the image horizontally */
        margin-top: 20px;
        /* Add margin for spacing */
    }

    /* CSS for the image */
    .img-fluid {
        max-width: 100%;
        /* Make the image responsive within its container */
        height: auto;
    }
</style>
{% endblock %}

{% block content %}

<!-- Form Start -->
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Editar Autor</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex align-items-center justify-content-between mb-4">
            <h6 class="m-0 font-weight-bold text-primary">Editar autor</h6>
        </div>
        <div class="card-body">
            <form action="{{ url_for('author.update_autor', id=autor.author_id) }}" method="POST">

                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}

                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                <div class="row">

                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <label for="floatingFirstname">Firstname</label>
                            <input type="text" class="form-control" id="floatingFirstname" value="{{ autor.firstname }}"
                                name="firstname" placeholder="firstname">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <label for="floatingLastname">Apellidos</label>
                            <input type="text" class="form-control" id="floatingLastname" value="{{ autor.lastname }}"
                                name="lastname" placeholder="lastname">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <label for="floatingStudent_code">Codigo de Estudiante</label>
                            <input type="text" class="form-control" id="floatingStudent_code"
                                value="{{ autor.student_code }}" name="student_code" placeholder="student_code">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <label for="floatingDni">DNI</label>
                            <input type="text" class="form-control" id="floatingDni" value="{{ autor.dni }}" name="dni"
                                placeholder="dni">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <label for="floatingPhone">Teléfono</label>
                            <input type="phone" class="form-control" id="floatingPhone" value="{{ autor.phone }}"
                                name="phone" placeholder="phone">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <label for="floatingPhone">Dirección (opcional)</label>
                            <input type="text" class="form-control" id="floatingAddress" value="{{ autor.address }}"
                                name="address" placeholder="address">
                        </div>
                    </div>
                </div>

                <div class="form-floating mb-3">
                    <label for="floatingEmail">Correo</label>
                    <input type="email" class="form-control" id="floatingEmail" value="{{ autor.email }}" name="email"
                        placeholder="email">
                </div>
                <div class="form-floating mb-3">
                    <label for="floatingUsername">Usuario</label>
                    <input type="text" class="form-control" id="floatingUsername" value="{{ autor.username }}"
                        name="username" placeholder="username">

                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <a class="btn btn-warning" href="{{ url_for('author.autor') }}" role="button"><i
                            class="fa fa-arrow-left"></i> Volver</a>
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-save"></i> Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Form End -->

{% endblock %}