{% extends "layout.html" %}

{% block title %} Asignar Jurado {% endblock %}

{% block customCSS %}


{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Asignar Jurado a Tesis N° {{thesis.thesis_id}}</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex align-items-center justify-content-between mb-4">
            <h6 class="m-0 font-weight-bold text-primary">Asignar Revisores de Tesis</h6>
        </div>
        <div class="card-body">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <br />
            {% for message in messages %}
            <div class="custom-primary-button alert alert-primary alert-dismissible position-relative" role="alert"
                id="myAlert">
                <strong>{{ message }}</strong>
                <div class="progress-container">
                    <div class="progress-bar" role="progressbar" id="myProgressBar"></div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <form action="{{ url_for('reviewer.save_jury_assignation', id=thesis.thesis_id) }}" method="post">

                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                <div class="row align-items-center">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="mySelect">Seleccionar Revisor</label>
                            <select class="form-control" id="mySelect" name="reviewer">
                                {% if left_reviewers %}
                                    <option value="">Seleccionar revisor...</option>
                                    {% for reviewer in left_reviewers %}
                                        <option value="{{ reviewer.reviewer_id }}" {% if thesis.project_id != 0 and reviewer.grade != "DR" %} disabled {% endif %}>
                                            {{ reviewer.reviewer_code }} | {{ reviewer.grade }} {{ reviewer.firstname }} {{ reviewer.lastname }} | {{ reviewer.username }}
                                        </option>
                                    {% endfor %}
                                {% else %}
                                    <option value="">No hay revisores...</option>
                                {% endif %}
                            </select>                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="floatingRole">Rol</label>
                            <select class="form-control" id="floatinRole" name="role" placeholder="role">
                                <option value="1">PRESIDENTE</option>
                                <option value="2">SECRETARIO</option>
                                <option value="3">VOCAL</option>
                                <option value="4">ACCESATARIO</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="d-flex align-items-center justify-content-center h-100">
                            <!-- Use d-flex and align-items-center to vertically center the content -->
                            <button type="submit" class="btn btn-success" {% if total_assigned_reviewer==3 %}disabled{%
                                endif %}>
                                <i class="fa fa-plus"></i>
                                {% if total_assigned_reviewer == 3 %}
                                Limit (3) Reviewers Reached
                                {% else %}
                                Asignar
                                {% endif %}
                            </button>

                        </div>
                    </div>
                </div>

            </form>
            <br>

            <div class="table-responsive">
                <table id="thesisTable" class="table table-hover text-start align-middle table-hover mb-0">
                    <thead>
                        <tr align="center">
                            <th scope="col">Código </th>
                            <th scope="col">Revisor</th>
                            <th scope="col">Usuario</th>
                            <th scope="col">Rol</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if assigned_reviewers %}
                        {% for item in assigned_reviewers %}
                        <tr align="center">
                            <td>{{ item.reviewer_code }}</td>
                            <td>{{ item.firstname }} {{ item.lastname }}</td>
                            <td>{{ item.username }}</td>
                            <td>{% if item.reviewer_role_id == 1 %}
                                <span class="badge bg-primary text-white">PRESIDENTE</span>
                                {% elif item.reviewer_role_id == 2 %}
                                <span class="badge bg-secondary text-white">SECRETARIO</span>
                                {% elif item.reviewer_role_id == 3 %}
                                <span class="badge bg-warning text-white">VOCAL</span>
                                {% elif item.reviewer_role_id == 4 %}
                                <span class="badge bg-info text-white">ACCESATARIO</span>
                                {% endif %}
                            </td>
                            <td class="text-center col-2">
                                <div class="btn-container">
                                    <a class="btn btn-sm btn-danger"
                                        href="{{ url_for('reviewer.revome_reviewer_from_assignment_page', reviewer_id=item.reviewer_id, thesis_id=thesis.thesis_id)}}">
                                        <i class="fa fa-trash"></i> Quitar</a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td class="text-center" colspan="5">No hay resultados encontrados.</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

{% endblock %}

{% block customJS %}
<script>
    jQuery(document).ready(function () {
        // Initialize Select2
        jQuery('#mySelect').select2({
            placeholder: "Selecciona un revisor...",
        });
    });
</script>
{% endblock %}